.for-h{
    background-color: black; 
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  

 }
 .for-f{
    background-color: black; 
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
 }

 .textbox{
    border-radius: 10px;
    background-color: grey;
    border-color: black;
    

 }

 .al-cent{
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
 }
 
.al-text-cent{
    text-align: center;
}
 select{
    border-radius: 15px;
    background-color: grey;
    border-color: black;
 }

.bord{
    border-spacing: 20px;
    border: 5px  black; 
    border-radius: 80px; 
    box-shadow: 1px 1px 15px 10px black;
    padding: 20px;
 }

 .but{
    border-radius: 10px;
    background-color: gray;
    border-color: black;
    margin: auto;
    display: flex;
 }
div{
    padding: 10px;
}
